/* Add your custom CSS styles here */
.event-calendar-plugin {
    /* Styles for the plugin container */
}

.event-item {
    /* Styles for individual event items */
}

#event-calendar {
    max-width: 800px;
    margin: 0 auto;
}

.fc-event {
    background-color: #b3005c;
    color: #fff;
    border-color: #b3005c;
    cursor: pointer;
}

.fc-event:hover {
    background-color: #b3005c;
    border-color: #b3005c;
}
#primary {
    margin-left: 50px;
    margin-bottom: 50px;
}
/* Adjust the size of the event image */
.post-thumbnail img {
    max-width: 50%; /* Limit the image width to its container */
    height: auto; /* Maintain the aspect ratio */
}
